@model SchoolProject.Models.Client

@{
    ViewBag.Title = "Detalhes do Cliente";

    if (Model == null || Model.Cpf.Length != 11)
    {
        <div class="alert alert-danger" role="alert">
            <h4><b>Não é Possivel Acessar essa Pagina</b></h4>
            <p>
                Recomendamos que Faça a navegação pelo Site usando as opções 
                 disponibilizadas após realizar o @Html.ActionLink("Login", "Index", "Client")
            </p>
            <p><i>Parametros Invalidos</i></p>
            <br />

            @Html.ActionLink("Login", "Index", "Client", new { } ,new { @class = "btn btn-primary" })
            @Html.ActionLink("Cadastro", "Cadastro", "Client", new { } ,new { @class = "btn btn-primary" })
            @Html.ActionLink("Pagina Inicial", "Index", "Home", new { } ,new { @class = "btn btn-default" })
        </div>
    }
    else
    {
        <h2>@ViewBag.Title</h2>
        <hr />

        // Formatação e Censura do CPF/DDD/telefone
        string cpf_formatted = Model.FormattedCPF(Model.Cpf);
        string phone_formatted = Model.FormattedPhone(Model.Ddd, Model.Telefone);
        string cep_formatted = new SchoolProject.Models.Address().FormattedCepMask(Model.Cep);

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>

                <dd>
                    @cpf_formatted
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>

                <dd>
                    @phone_formatted
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cidade) - @Html.DisplayFor(model => model.Estado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Logradouro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Logradouro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cep)
                </dt>

                <dd>
                    @cep_formatted
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Numero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Numero)
                </dd>

                @if (!string.IsNullOrEmpty(Model.Complemento))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Complemento)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Complemento)
                    </dd>
                }

            </dl>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    @Html.ActionLink("Editar Usuario", "Atualizar", new { cpf = Model.Cpf }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>

        using (Html.BeginForm("Login", "Client", new { Cpf = Model.Cpf }, FormMethod.Post))
        {
            <button type="submit" value="Login" class="btn btn-default">« Voltar</button>
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
