@model IEnumerable<SchoolProject.Models.Client>

@{
    ViewBag.Title = "Lista de Clientes";

    if (Model == null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>Não é Possivel Exibir essa Pagina</h4>
            <p>
                @Html.ActionLink("Clique Aqui", "Cadastrados", "Client") para Tentar Novamente ou
                @Html.ActionLink("Clique Aqui", "Index", "Home") para Realizar voltar ao Inicio
            </p>
            <p>
                Recomendamos que Faça a navegação pelo Site usando as opções
                disponibilizadas no @Html.ActionLink("Inicio", "Index", "Home")
            </p>
            <p><i>Parametros Invalidos</i></p>
        </div>
    }
    else
    {
        <style type="text/css">
            h3 {
                text-align: center;
                margin: 3% 0%;
            }

            #table_client th {
                text-align: center;
            }
        </style>

        <h3 class="text-center">Lista de Clientes</h3>

        <div class="row">
            <table id="table_client" class="table table-hover">

                <tr>
                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Logradouro)
                    </th>
                    <th> </th>
                    <th>Detalhes</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>

                @foreach (var clientItem in Model)
                {
                    <tr>
                        <th>
                            @Model.ToList().IndexOf(clientItem)
                        </th>
                        <th>
                            @Html.DisplayFor(model => clientItem.Name)
                        </th>
                        <th>
                            @using (Html.BeginForm("Login", "Client", new { Cpf = clientItem.Cpf }, FormMethod.Post))
                            {
                                string cpf_formatted = clientItem.FormattedCPF(clientItem.Cpf);
                                <button class="btn-link">@cpf_formatted</button>
                            }
                        </th>
                        <th>
                            @clientItem.FormattedPhone(clientItem.Ddd, clientItem.Telefone)
                        </th>
                        <th>
                            @Html.DisplayFor(model => clientItem.Cidade) - @Html.DisplayFor(model => clientItem.Estado)
                        </th>
                        <th>
                            @Html.DisplayFor(model => clientItem.Logradouro)
                        </th>
                        
                    <th> </th>
                        <th>
                            @using (Html.BeginForm("Login", "Client", new { Cpf = clientItem.Cpf }, FormMethod.Post))
                            {
                                <button class="btn-link">
                                    <img src="~/Images/Icons/IconUser.svg" />
                                </button>
                            }
                        </th>
                        <th>
                            @using (Html.BeginForm("Atualizar", "Client", new { Cpf = clientItem.Cpf }, FormMethod.Get))
                            {
                                <button class="btn-link">
                                    <img src="~/Images/Icons/IconEdit.svg" />
                                </button>
                            }
                        </th>
                        <th>
                            @using (Html.BeginForm("Excluir", "Client", new { Cpf = clientItem.Cpf }, FormMethod.Get))
                            {
                                <button class="btn-link">
                                    <img src="~/Images/Icons/IconDelete.svg" />
                                </button>
                            }
                        </th>
                    </tr>
                }
            </table>
        </div>
    }
}