@model SchoolProject.Models.User

@{
    ViewBag.Title = "Detalhes do Usuario";
}

<h2>@ViewBag.Title</h2>
<hr />

@{
    if (Model == null || Model.Cpf.Length != 11|| ViewBag.Message != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>@ViewBag.Message</h4>
            <p>@Html.ActionLink("Clique Aqui", "Cadastro", "User") para Realizar o Cadastro ou
                    @Html.ActionLink("Clique Aqui", "Login", "User") para Consultar o Login</p>
            <p><i>@ViewBag.Erro</i></p>
        </div>
    }
    else
    {
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cpf)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Logradouro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Logradouro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cidade)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Numero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Numero)
                </dd>

                @{
                    if (Model.Complemento != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Complemento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Complemento)
                        </dd>
                    }
                }

            </dl>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    @Html.ActionLink("Editar Usuario", "Atualizar", new { cpf = Model.Cpf }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>

        using (Html.BeginForm("Login", "User", new { Cpf = Model.Cpf }, FormMethod.Post))
        {
            <button type="submit" value="Login" class="btn btn-warning">Voltar</button>
        }
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
