@model SchoolProject.Models.Seller

@{
    ViewBag.Title = "Acesso do Vendedor";
    string controller = "seller";

    <h2>@ViewBag.Title</h2>
    <hr />

    if (Model == null)
    {
        <h4>Insira os Dados para Buscar o Vendedor</h4>
        <br />

        using (Html.BeginForm("Login", controller, FormMethod.Post))
        {
            Html.AntiForgeryToken();

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cnpj, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="reset" class="btn btn-default">Limpar</button>
                        <button type="submit" value="Login" class="btn btn-default" style="margin-left:10px">Buscar</button>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <h3>Seja Bem-Vindo(a) @Model.Name</h3>

        <h4 style="margin-top:30px">Como Podemos ajudar ?</h4>
        <ul>
            <li>@Html.ActionLink("Detalhes do Vendedor", "Detalhes", controller, new { Cnpj = Model.Cnpj }, new { @class = "" })</li>
            <li>@Html.ActionLink("Atualizar Vendedor", "Atualizar", controller, new { Cnpj = Model.Cnpj }, new { @class = "" })</li>
            <li>@Html.ActionLink("Excluir Vendedor", "Excluir", controller, new { Cnpj = Model.Cnpj }, new { @class = "" })</li>
        </ul>

        <br />

        Html.ActionLink("Sair", "Index", controller, new { }, new { @class = "badge badge-warning" });
    }

    Html.ActionLink("Voltar ao Incio", "Index", "Home", new { }, new { @class = "badge badge-warning" });
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}