<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="~/Images/Icons/IconBrowser.svg">
    <title>@ViewBag.Title - School Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse bg-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("School Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse " id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">

                    <li>@Html.ActionLink("Início", "Index", "Home")</li>

                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Cliente <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Login", "Index", "Client", new { }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Cadastro", "Cadastro", "Client", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Listar Clientes", "Cadastrados", "Client", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Vendedor <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Login", "Index", "Seller", new { }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Cadastro", "Cadastro", "Seller", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Listar Vendedores", "Cadastrados", "Seller", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Produtos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver Produtos", "Index", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Pesquisar Produtos", "Index", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Saiba Mais <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Sobre", "About", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Contato", "Contact", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" id="content_body">
        <!--Renderiza o Body das Actions-->
        @RenderBody()
        <footer>
            <hr />
            <div class="row">
                <p>
                <p>&copy; <a title="Perfil GitHub" href="https://github.com/guilhermepalma">Guilherme Peres Lins da Palma</a>, @DateTime.Now.Year</p>
                <a title="GitHub" href="https://github.com/guilhermepalma/School_Project">
                    <img alt="Repositorio GitHub" src="https://img.shields.io/badge/-School%20Project-333333?&style=flat-square&logo=github" />
                </a>
                <a class="pull-right" href="#content_body">Subir</a>
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>
